/code/.idea
/code/proc/Digraph.gv
/code/proc/Digraph.gv.pdf
/code/matlab/data
/paper/r1/manuscript-mssp.synctex.gz
/paper/r1/manuscript-mssp.aux
/paper/r1/manuscript-mssp.bbl
/paper/r1/manuscript-mssp.blg
/paper/r1/manuscript-mssp.log
/paper/r1/manuscript-mssp.out
/paper/r1/manuscript-mssp.pdf
/paper/r1/manuscript-mssp.spl
/paper/r1/fig
